[submodule "backend-whammy"]
	path = backend-whammy
	url = https://github.com/mrvilla/backend-whammy.git
[submodule "frontend-whammy"]
	path = frontend-whammy
	url = https://github.com/mrvilla/frontend-whammy.git
